@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 54, 41, 41;
    --background-rgb: 238, 240, 241;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 20, 20, 30;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}
